{% extends 'base.html' %}
{% block section%}
    <div class="row">
        {% for tweet in tweets %}
        {% if forloop.counter0|divisibleby:2%}
    </div>
    <div class="row">
        {% endif %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{tweet.autor_name}}</h4>
                </div>
                <div class="panel-body" style="height:480px">
                    <p>{{tweet.text}}</p>
                    {% if tweet.media %}
                        {% if tweet.type_media == 'photo' %}
                            <img src="{{tweet.url_media}}" alt="{{tweet.url_media}}" class="img-custom">
                        {% endif %}
                    {% endif %}
                </div>
                <div id="{{tweet.tweet_id}}" class="panel-footer">
                    {% for categoria in categorias %}
                    <button id="{{categoria.pk}}" class="btn btn-primary btn-select-category">{{categoria.name}}</button>
                    {% endfor %}
                    {% if tweet.retweeted == True %}
                    <button class="btn btn-warning btn-retweeted">Retweeted</button>
                    {% else %}
                    <button class="btn btn-warning btn-retweet">Retweet</button>
                    {% endif %}
                    <p>{{tweet.n_rt}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
        <button id="save" class="btn btn-circle btn-circle-custom" style="font-weight:bold">Save</button>
{% endblock %}